.content {
  > * {
    padding-left: 30px;
  }
  width: 85%;
  min-height: 750px;
  min-width: 600px;
  background-color: $primary-color;

  p {
    width: 55%;
    min-width: 550px;
    font-size: 2rem;
    line-height: 30px;
  }

  img, video {
   height: 350px;
    width: 550px;
    margin-bottom: 30px;
  }

  ul {
    list-style:square;
    list-style-position: inside;
  }

  a:link {
    color:tan;
    text-decoration: underline;
  }

  a:visited {
    color:tan;
    text-decoration: underline;
  }
}