html, body {
  font-family: Arial;
  font-size: 62.5%;
  color: #ffffff;
}

p, ul, ol, dl {
  font-size: 1.5rem;
  line-height: 1.7rem;
  margin-bottom: 12px;
}

h1 {
  font-size: 3.75rem;
  margin: 20px 0;
}

h2 {
  font-size: 2.5rem;
  margin: 16px 0;
}

h3 {
  font-size: 2rem;
  margin: 14px 0 8px 0;
}

h4 {
  font-size: 1.6rem;
  margin: 14px 0 8px 0;
}

ul {
  list-style: none;
}

.container {
  min-height: 100%;
  display: flex;
}

.nav {
  width: 15%;
  min-width: 140px;
  padding-top: 35px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  color: #FFCFCF;
}

.content {
  width: 85%;
  min-height: 750px;
  min-width: 600px;
  background-color: #FFCFCF;
}

.content ul {
  padding-left: 30px;
}

.content h1 {
  padding-left: 30px;
}

.content p {
  padding-left: 30px;
  width: 55%;
  min-width: 550px;
}

.content img, .content video {
  padding-left: 30px;
  height: 350px;
  width: 550px;
  margin-bottom: 30px;
}
